<!DOCTYPE html>
<html>
<head>
  <title>Vuest</title>
</head>
<body>
  <div id="app">
    <form @submit.prevent="submit">
        <h2>Cuales son tus tecnologias favoritas?</h2>
        <template v-for="tech in techs">
          <label>
            <input v-model="techSelected" type="checkbox" v-bind:id="tech.value" v-bind:value="tech.value"  />
            {{ tech.name }}
          </label>
        </template>
        <button type="submit">Enviar</button>
    </form>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script type="text/javascript">
    let app = new Vue({
      el: '#app',
      data: {
        techs: [{
          name: 'Vue.js',
          value: 'vue'
        }, {
          name: 'React.js',
          value: 'react'
        }, {
          name: 'Angular.js',
          value: 'angular'
        }, {
          name: 'Backbone.js',
          value: 'backbone'
        }],
        techSelected: []
      },
      methods: {
        submit() {
          console.log(this.techSelected)
        }
      }
    })
  </script>
</body>
<html>
